USE [master]
GO
/****** Object:  Database [AdmEdificios]    Script Date: 08/10/2017 22:04:42 ******/
CREATE DATABASE [AdmEdificios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AdmEdificios', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AdmEdificios.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AdmEdificios_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\AdmEdificios_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AdmEdificios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AdmEdificios]
GO
/****** Object:  StoredProcedure [dbo].[p_Login]    Script Date: 08/10/2017 22:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[p_Login]
@EMAIL nvarchar (50)
AS
BEGIN
 SELECT * FROM [dbo].[Usuarios] WHERE Email=@EMAIL 
 END

GO
/****** Object:  Table [dbo].[BarriosCABA]    Script Date: 08/10/2017 22:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BarriosCABA](
	[IdBarrio] [smallint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Comuna] [varchar](20) NOT NULL,
 CONSTRAINT [PK_BarriosCABA] PRIMARY KEY CLUSTERED 
(
	[IdBarrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Edificios]    Script Date: 08/10/2017 22:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Edificios](
	[IdEdificio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](50) NOT NULL,
	[IdBarrioCABA] [smallint] NOT NULL,
	[CodPostal] [nvarchar](10) NOT NULL,
	[CantPisos] [smallint] NOT NULL,
	[CantDptos] [smallint] NOT NULL,
	[CantCocheras] [smallint] NOT NULL,
	[AnioCreacion] [smallint] NOT NULL,
	[Amenities] [nvarchar](50) NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[Comentarios] [nvarchar](200) NOT NULL,
	[Estado] [smallint] NOT NULL,
 CONSTRAINT [PK_Edificios] PRIMARY KEY CLUSTERED 
(
	[IdEdificio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 08/10/2017 22:04:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
